body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
